.about {
  // @extend %page;
}

.about__wrapper {
}

.about__box {
  @extend %center;

  height: 100vh;
  position: relative;

  @include media("<tablet") {
    height: calc(100vh - (10vh + 8rem));
    overflow: hidden;
  }

  @include media("<phone") {
    height: calc(100vh - (10vh + 4rem));
  }
}

.about__intro__title {
  max-width: 171.8rem;
  // font-size: 0;
  @extend %title-370;

  @include media("<=tablet") {
    margin-top: -14vh;
    width: 70rem;
  }

  @include media("<phone") {
    margin-top: -10vh;
    width: 30rem;
  }

  span:nth-child(4) {
    padding-top: 4rem;
  }

  span span {
    @extend %title-370;
  }
}

.about__actions {
}

.about__label {
  bottom: 4rem;
  position: absolute;
  right: 4rem;
}

.about__box__image {
  position: absolute;
  top: 40rem;
  right: 21.2rem;
  z-index: -1;

  @include media("<=tablet") {
    top: 36.3rem;
    left: 26.8rem;
    bottom: 15.4rem;
    right: auto;
  }

  @include media("<phone") {
    top: 36.3rem;
    left: 13.8rem;
    bottom: 15.4rem;
    right: auto;
  }
}

.about__media {
  height: 74.8rem;
  width: 74.8rem;

  @include media("<=large") {
    height: 50.8rem;
    width: 60.8rem;
  }

  @include media("<tablet") {
    height: 42.8rem;
    width: 42.8rem;
  }

  @include media("<phone") {
    height: 32.6rem;
    width: 32.6rem;
  }
}

.about__media__image {
  @extend %cover;

  object-fit: cover;
  filter: blur(3px) grayscale(0.2);
  opacity: 0.5;
}
