.about__info {
}

.about__info__title {
  @extend %title-200;

  font-weight: 400;
  margin-top: 50.2rem;
  margin-bottom: 26.6rem;
  margin-left: 8rem;

  @include media("<=tablet") {
    margin-bottom: 16rem;
    margin-left: 2rem;
    margin-top: 34rem;
  }

  @include media("<phone") {
    margin-bottom: 10.8rem;
    margin-top: 20rem;
  }
}

.about__info__labels {
  letter-spacing: 0.0375rem;
  line-height: 1.6;
  margin: 2.4rem auto 0;
  max-width: 46.1rem;

  @include media("<phone") {
    margin-left: 2rem;
    width: 34rem;
  }
}
