%description-12 {
  font-size: 1.2rem;
  font-weight: 300;

  @include media("<phone") {
    font-size: 1.1rem;
  }
}

%description-14 {
  font-size: 1.4rem;
  font-weight: 500;
}

%description-15 {
  font-size: 1.5rem;
}

%description-16 {
  font-size: 1.6rem;
}

%description-18 {
  font-size: 1.7rem;

  @include media("<phone") {
    font-size: 1.4rem;
  }
}

%description-20 {
  font-size: 2rem;
  font-weight: lighter;

  @include media("<=tablet") {
    font-size: 2rem;
  }

  @include media("<phone") {
    font-size: 1.4rem;
  }
}

%description-24 {
  font-family: $font-bigilla;
  font-size: 2.4rem;

  @include media("<phone") {
    font-size: 1.5rem;
  }
}

%description-30 {
  font-family: $font-bigilla;
  font-size: 3rem;

  @include media("<phone") {
    font-size: 2.2rem;
  }
}

%description-40 {
  font-family: $font-bigilla;
  font-size: 4rem;

  @include media("<=tablet") {
    font-size: 2.4rem;
    font-weight: 400;
  }

  @include media("<phone") {
    font-family: $font-supreme;
    font-size: 1.5rem;
  }
}

%description-150 {
  font-family: $font-bigilla;
  font-size: 15rem;

  @include media("<=tablet") {
    font-size: 8rem;
  }

  @include media("<phone") {
    font-size: 4rem;
  }
}
