.project {
}

.project__wrapper {
}

.project__title {
  @extend %title-140;

  margin-bottom: 7.8rem;
  margin-top: 24.8rem;
  text-align: center;

  @include media("<phone") {
    margin-bottom: 4.6rem;
    margin-top: 16.4rem;
  }
}

.project__label {
  @extend %description-20;

  margin-bottom: 21.6rem;
  text-align: center;

  @include media("<=tablet") {
    margin-bottom: 14rem;
  }

  @include media("<phone") {
    margin-bottom: 10.8rem;
  }
}

.project__presentation {
}

.project__presentation__wrapper {
  position: relative;
}

.project__presentation__media {
  height: 117.4rem;
  margin: 0 8rem 12rem;
  max-width: 176rem;
  position: relative;

  @include media("<=large") {
    margin: 0 0 10rem;
    height: 80rem;
    width: 100%;
  }

  @include media("<phone") {
    margin: 0 0 5.6rem;
    height: 23.4rem;
  }
}

.project__presentation__media__image {
  @extend %cover;

  object-fit: cover;
}

.project__info {
}

.project__info__box {
  display: grid;
  grid-template-columns: 38.8rem 38.8rem 12.6rem;
  margin: auto;
  max-width: 90.2rem;

  &:first-child {
    margin-bottom: 2.8rem;

    @include media("<phone") {
      margin-bottom: 1.8rem;
    }
  }

  &:last-child {
    margin-bottom: 12rem;

    @include media("<=tablet") {
      margin-bottom: 10rem;
    }

    @include media("<phone") {
      margin-bottom: 5.6rem;
    }
  }

  @include media("<=large") {
    width: calc(100% - 20rem);
    margin: 0 10rem;
    grid-template-columns: 30.8rem 30.8rem 12.6rem;
  }

  @include media("<tablet") {
    width: calc(100% - 4rem);
    margin: 0 2rem;
    grid-template-columns: 2.5fr 2fr 1fr;
  }

  @include media("<phone") {
    width: calc(100% - 4rem);
    margin: 0 2rem;
    grid-template-columns: 1.5fr 1fr 1fr;
  }
}

.project__info__titles {
  @extend %description-24;
}

.project__info__label {
  @extend %description-20;

  opacity: 0.8;
}

.project__gallery {
}

.project__gallery__wrapper {
  display: grid;
  row-gap: 20rem;

  @include media("<=large") {
    row-gap: 14rem;
  }

  @include media("<phone") {
    row-gap: 4rem;
  }
}

.project__gallery__media {
  height: 117.4rem;
  margin: 0 8rem;
  max-width: 176rem;
  position: relative;

  @include media("<=large") {
    margin: 0;
    height: 80rem;
    width: 100%;
  }

  @include media("<phone") {
    height: 23.4rem;
  }
}

.project__gallery__media__image {
  @extend %cover;

  object-fit: cover;
}

.project__contact {
  display: flex;
  justify-content: center;
}

.project__contact__title {
  @extend %title-200;

  margin: 25.6rem auto;
  max-width: 100rem;
  text-align: center;

  &::after {
    content: attr(data-text);
    color: #5d737e;
    transform: translate(-50%, 100%);
    position: absolute;
    left: 50%;
    -webkit-text-stroke: 4px #5d737e;

    @include media("<=large") {
      -webkit-text-stroke: 2px #5d737e;
    }

    @include media("<phone") {
      -webkit-text-stroke: 1px #5d737e;
    }
  }

  @include media("<tablet") {
    margin: 16rem auto;
  }

  @include media("<phone") {
    margin: 10rem auto;
  }
}
