.home__intro__canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
}

.webgl {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  // background-color: $color-cod-grey;
  // filter: blur(10px);

  /* #1 */
  // background-image: linear-gradient(
  //   315deg,
  //   rgb(75, 48, 46) 0%,
  //   rgb(28, 47, 59) 44%
  // );

  /* #2 */
  // background-image: linear-gradient(
  //   316deg,
  //   rgb(88, 65, 124) 0%,
  //   rgb(64, 61, 87) 44%
  // );

  // background-image: linear-gradient(
  //   316deg,
  //   rgb(35, 70, 70) 0%,
  //   rgb(31, 44, 68) 54%
  // );

  /* #3 */

  // background-image: linear-gradient(
  //   315deg,
  //   rgb(68, 27, 38) 0%,
  //   rgb(22, 39, 61) 54%
  // );
}
