.footer {
}

.footer__label__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer__stars {
  animation: spin-and-scale 6s ease infinite;
  fill: $color-pampas;
  height: 1.4rem;
  width: 1.4rem;

  @include media("<=tablet") {
    display: none;
  }
}

.footer__label {
  @extend %description-18;

  font-family: $font-supreme;
  font-weight: 100;

  margin: 36.2rem 6rem;

  @include media("<=tablet") {
    margin: 30rem auto;
  }

  @include media("<phone") {
    margin: 20rem 0;
    width: 60vw;
  }
}

.footer__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__link {
  @extend %description-150;

  font-weight: bold;
  line-height: 1.2;
  transition: all $ease-out-expo 0.4s;
  width: fit-content;

  &:nth-child(even) {
    justify-self: end;
  }

  &:hover {
    opacity: 0.75;
  }
}

.footer__name {
  cursor: pointer;
  fill: $color-pampas;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  transition: all $ease-out-expo 0.8s;

  &:hover {
    opacity: 0.75;
  }
}
