.navigation {
  @extend %cover;

  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  z-index: z("navigation");
}

.navigation__link {
  pointer-events: auto;
  position: absolute;
  top: 4rem;

  &:first-child {
    left: 4rem;

    @include media("<phone") {
      left: 2rem;
    }
  }

  &:last-child {
    right: 4rem;

    @include media("<phone") {
      right: 2rem;
    }
  }
}
