.navigation {
  @extend %cover;

  pointer-events: none;
  position: fixed;
  z-index: z("navigation");
}

.navigation__link {
  pointer-events: auto;
  position: absolute;
  top: 4rem;
  transition: all $ease-out-expo 0.4s;

  &:first-child {
    cursor: pointer;
    left: 4rem;

    @include media("<phone") {
      left: 2rem;
    }
  }

  &:last-child {
    right: 4rem;

    @include media("<phone") {
      right: 2rem;
    }
  }

  &:hover {
    opacity: 0.75;
  }
}
