.preloader {
  @extend %cover;
  @extend %center;

  background: $color-pampas;
  color: $color-cod-grey;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  transform-origin: 0 0;
  z-index: z("preloader");
  width: 100vw;

  &--loaded {
    transform: scaleY(0);
  }
}

.preloader__number {
  @extend %title-200;

  max-width: 117.2rem;
  margin-top: -10vh;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;

  @include media("<tablet") {
    transform: translateY(calc(-10vh + 4rem));
  }

  @include media("<phone") {
    margin-top: 0;
    transform: translateY(calc(-10vh));
  }
}

.preloader__number__label,
.preloader__number__year {
  display: inline-block;
  opacity: 0;
}

.preloader__box {
  align-items: center;
  bottom: 6.4rem;
  display: flex;
  justify-content: space-around;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;

  @include media("<tablet") {
    bottom: calc(10vh + 12rem);
  }

  @include media("<phone") {
    bottom: calc(10vh + 8rem);
  }
}

.stars {
  animation: spin 4s linear infinite;
  fill: $color-cod-grey;
  height: 1.8rem;
  width: 1.8rem;

  @include media("<=tablet") {
    height: 1.25rem;
    width: 1.25rem;
  }

  @include media("<phone") {
    height: 1.05rem;
    width: 1.05rem;
  }
}

.preloader__title {
  @extend %description-18;

  display: inline-block;
  font-weight: 500;
  opacity: 0;
}
