$color-cod-grey: #1a1a1a;
$color-pampas: #f6f5f1;
$color-russett: #7d595a;
$color-willow-grove: #656e62;
$color-nevada: #5d737e;

$font-bigilla: "Bigilla";
$font-supreme: "Supreme";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  "noscript",
  "preloader",
  "navigation",
  "noise",
  "content",
  "canvas"
);
