html {
  @extend %cover;

  font-size: calc(100vw / 1920 * 10);
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: fixed;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  width: 100%;

  @include media("<=tablet") {
    font-size: 10px;
  }
}

body {
  @extend %cover;
  @extend %description-15;

  @include media("<=desktop") {
    font-size: 15px;
  }

  @include media("<phone") {
    font-size: 14px;
  }

  color: $color-pampas;
  font-family: $font-supreme;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-transform: uppercase;
  -webkit-overflow-scrolling: touch;

  // position: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

.content {
  // @extend %cover;
  height: 100%;
}

[data-animation="paragraph"],
[data-animation="title"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
