.home__awards {
}

.home__awards__label {
  margin: 50.2rem 0;
  text-align: center;

  @include media("<tablet") {
    margin: 34rem 0;
  }

  @include media("<phone") {
    margin: 20rem 0;
  }
}

.home__awards__title {
  @extend %title-200;
  display: inline-block;
  margin-bottom: 26.6rem;
  white-space: nowrap;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  @include media("<tablet") {
    margin-bottom: 16rem;
  }

  @include media("<phone") {
    margin-bottom: 10.8rem;
  }
}

.home__awards__list {
}

.home__awards__list__item {
  font-weight: bold;
  padding: 4.4rem 8rem;
  position: relative;

  transition: all 0.2s;

  &:hover {
    background-color: $color-pampas;
    color: $color-cod-grey;
  }

  @include media("<=tablet") {
    padding: 3rem 2rem;
  }

  @include media("<phone") {
    padding: 1.6rem 2rem;
  }
}

.home__awards__stroke {
  border-top: 1px solid rgba($color: $color-pampas, $alpha: 0.2);
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: left;
  width: 100%;
}

.home_awards__list__box {
  overflow: hidden;
  display: grid;
  grid-template-columns: 20vw 50vw 30vw;

  @include media("<=tablet") {
    grid-template-columns: 24vw 1fr 20vw;
  }

  @include media("<phone") {
    grid-template-columns: 13.4rem 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.home__awards__list__column {
  @extend %description-40;

  display: inline-block;

  @include media("<phone") {
    line-height: 1.5;
  }
}
