.home__myself__label {
  line-height: 1.6;
  margin: 30.2rem auto;
  max-width: 51.1rem;

  @include media("<=tablet") {
    margin: 24rem 0;
  }

  @include media("<phone") {
    margin: 20rem 0;
    margin-left: 2rem;
    width: 35rem;
  }
}

.home__myself__title {
  @extend %title-200;

  display: inline-block;
  margin-bottom: 26.6rem;
  white-space: nowrap;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  @include media("<=tablet") {
    margin-bottom: 16rem;
  }

  @include media("<phone") {
    margin-bottom: 10.8rem;
  }
}

.home__myself__description {
  margin: auto;
  max-width: 51.1rem;
  line-height: 1.6;
  letter-spacing: 0.0375rem;

  &:last-child {
    margin-top: 2.4rem;
  }

  @include media("<phone") {
    margin-left: 2rem;
    width: 35rem;
  }
}
